.h1{
    text-align: center;
    margin: 20px 0;
    
}
.h3{
    text-align: justify;
    margin: 20px 0;
}


.p{
   
    text-align: justify;
    margin: 20px 0;
}
img{
    border-radius: 26%;
}